{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container medway-form">
  {% if err_message %}
  <div class="alert alert-danger" role="alert">
    {{ err_message }}
  </div>
  {% endif %}
  <h2 class="title">{{ title }}</h2>
  <form action="" method="post" name="eq_cooler_form" class="obje-edit-form">
    <div class="form-group">
      <label for="eq_id">Equipment ID</label>
      <select class="form-control" id="eq_id" name="eq_id" required="required">
        {% for equipment in equipments %}
        {% if equipment.eq_id == values['eq_id'] %}
        <option value="{{ equipment.eq_id }}" selected>{{ equipment.eq_name }}</option>
        {% elif values['eq_id'] and add==False %}
        <option disabled value="{{ equipment.eq_id }}">{{ equipment.eq_name }}</option>
        {% else %}
        <option value="{{ equipment.eq_id }}">{{ equipment.eq_name }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="cooler_type">Cooler Type</label>
      <input type="text" class="form-control" id="cooler_type" name="cooler_type" placeholder="cooler_type" required="required" value="{{ values['cooler_type'] }}">
    </div>
    <div class="form-group">
      <label for="cooler_size">Cooler Size</label>
      <input type="text" class="form-control" id="cooler_size" name="cooler_size" placeholder="cooler_size" required="required" value="{{ values['cooler_size'] }}">
    </div>
    <div class="form-group">
      <label for="led_color">Led Color</label>
      <input type="text" class="form-control" id="led_color" name="led_color" placeholder="led_color" required="required" value="{{ values['led_color'] }}">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}