{% extends "layout.html" %}
{% block title %}Comments list{% endblock %}
{% block content %}
{% if comments %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">Comments page</h2>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
          <thead>
            <th>ID</th>
            <th>Customer</th>
            <th>Equipment</th>
            <th>Title</th>
            <th>Statement</th>
            <th>Added Time</th>
            <th>Updated Time</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
            {% for comment, customer, equipment in comments %}
            <tr>
              <td>{{ comment.comment_id }}</td>
              <td>{{ customer.username }}</td>
              <td><a href="{{url_for('equipment_page', equipment_key=equipment.eq_id)}}">{{equipment.eq_name}}</a></td>
              <td>{{ comment.comment_title }}</td>
              <td>{{ comment.comment_statement }}</td>
              <td>{{ comment.added_time }}</td>
              <td>{{ comment.updated_time }}</td>
              <td><a href="{{ url_for('comment_edit_page', comment_id=comment.comment_id) }}"><p title="Edit"><span class="glyphicon glyphicon-pencil btn btn-primary btn-xs"></span></p></a></td>
              <td><a href="{{ url_for('comment_delete_page', comment_id=comment.comment_id) }}"><p title="Delete"><span class="glyphicon glyphicon-trash btn btn-danger btn-xs"></span></p></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}