{% extends "layout.html" %}
{% block title %}Customer Editing{% endblock %}
{% block content %}
<div class="container signup-form medway-form">
  <h2 class="title">Customer Editing</h2>
	<form class="form-signup" action="" method="post" name="signup">
		{{ render_field(form.c_username, required=True, autofocus=True,class='form-control',placeholder='Username', value=customer.username) }}
		{{ render_field(form.c_password, required=True,class='form-control',placeholder='Password',value=customer.password) }}
		{{ render_field(form.c_email, required=True,class='form-control',placeholder='E-Mail', value=customer.email) }}
		{{ render_field(form.c_phone, required=True,class='form-control',placeholder='Phone', value=customer.phone) }}
		{{ render_field(form.c_name, required=True,class='form-control',placeholder='Name', value=customer.customer_name) }}
		{{ render_field(form.c_surname, required=True,class='form-control',placeholder='Surname', value=customer.surname) }}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
	</form>
</div>
{% endblock %}