{% extends "layout.html" %}
{% block title %}Sign Up Page{% endblock %}
{% block content %}
<div class="container signup-form medway-form">
	<form class="form-signup" action="" method="post" name="signup">
		{{ form.csrf_token }}
		<h2 class="form-signup-heading">Sign Up</h2>
		{{ render_field(form.c_username, required=True, autofocus=True,class='form-control', placeholder='Username') }}
		{{ render_field(form.c_password, required=True,class='form-control', placeholder='Password') }}
		{{ render_field(form.c_email, required=True,class='form-control',placeholder='E-Mail') }}
		{{ render_field(form.c_phone, required=True,class='form-control',placeholder='Phone') }}
		{{ render_field(form.c_name, required=True,class='form-control',placeholder='Name') }}
		{{ render_field(form.c_surname, required=True,class='form-control',placeholder='Surname') }}
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
	</form>
</div>
{% endblock %}