{% extends "layout.html" %}
{% block title %}Products list{% endblock %}
{% block content %}
{% if tables %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title">Products page</h2>
      <div class="table-responsive">
        <form action="" method="post" name="movie_list">
          <table id="mytable" class="table table-bordred table-striped">
            <thead>
              <th>Detail</th>
              <th>Equipment Name</th>
              <th>Price</th>
              {% if current_user.is_admin %}
              <th>Edit</th>
              <th>Delete</th>
              {% endif %}
            </thead>
            <tbody>
              {% for product, equipment in tables %}
              <tr>
                <td><a href="{{ url_for('product_page', eq_id=product.eq_id) }}" class="glyphicon glyphicon-search btn btn-primary btn-xs"></a></td>
                <td><a href="{{ url_for('equipment_page', equipment_key=equipment.eq_id) }}">{{ equipment.eq_name }}</a></td>
                <td>{{ product.price }}</td>
                <td>{{ supplier.supp_id }}</td>
                {% if current_user.is_admin %}
                <td><a href="{{ url_for('product_edit_page', eq_id=product.eq_id) }}"><p title="Edit"><span class="glyphicon glyphicon-pencil btn btn-primary btn-xs"></span></p></a></td>
                <td><a href="{{ url_for('product_delete_page', eq_id=product.eq_id) }}"><p title="Delete"><span class="glyphicon glyphicon-trash btn btn-danger btn-xs"></span></p></a></td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}