.title {
    color: #e9601a;
}
  
footer {
    text-align: center;
    height: 100px;
}

.medway-form {
    max-width: 300px;
  }
  
  .medway-width-325 {
    max-width: 325px;
  }
  
  .obje-edit-form {
    max-width: 500px;
  }
  
  .medway-comment {
    background: #EFEFEF;
  }
  
  
  .medway-table-info td{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
  }
  
  .medway-title-table {
    text-align: center;
  }
  
  .medway-obje {
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  
  }
  
  .medway-info {
    background: #F5F5DC;
    padding-top: 10px;
  }
  
  #piece  {
    max-width:60px;
  }