{% extends "layout.html" %}
{% block title %}Transaction Final Page{% endblock %}
{% block content %}
<div class="container medway-form">
  {% if err_message %}
  <div class="alert alert-danger" role="alert">
    {{ err_message }}
  </div>
  {% endif %}
  <h2 class="title">Transaction Final Page</h2>
  <form action="" method="post" name="transaction_form" class="obje-edit-form">
    <div class="form-group">
      <label for="address_id">Address</label>
      <select class="form-control" id="address_id" name="address_id" required="required">
        {% for address in addresses %}
        <option value="{{ address.address_id }}">{{ address.address_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="payment_type">Payment Type</label>
      <select class="form-control" id="payment_type" name="payment_type" required="required">
        <option>Debit Card</option>
        <option>Pay at the Door</option>
        <option>Credit Card - One Shot</option>
        <option>Credit Card - 3 Installment</option>
        <option>Credit Card - 6 Installment</option>
        <option>Credit Card - 12 Installment</option>
      </select>
    </div>
    <div class="form-group">
      <label for="transaction_explanation">Explanation</label>
      <textarea class="form-control" name="transaction_explanation" id="transaction_explanation" rows="3" required="required">{{ values['transaction_explanation'] }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Sell</button>
  </form>
</div>
{% endblock %}